{{#if edit}}
<div class="row">
  <form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{user.name}}">
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{else}}
<div class="d-flex flex-column col-md-12">
  <div class="d-inline-flex align-self-start col-md-12 border">
    <div class="col-md-3">
      <img class="img-responsive" src="{{user.image}}" style=" width: 250px;margin-bottom: 25px;">
    </div>
    <div class="col-md-5">
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p><strong>{{restaurants.length}} </strong> 間已評論餐廳</p>
      <p><strong>{{favoritedRestaurants.length}} </strong>間收藏的餐廳</p>
      <p><strong>{{followings.length}} </strong>位追蹤者</p>
      <p><strong>{{followers.length}} </strong>位粉絲</p>
      <button type="button" class="btn btn-link" style="padding: 0;">
        <a href="/users/{{user.id}}/edit">Edit</a>
      </button>
    </div>
  </div>
  <br>
  <div class="d-inline-flex justify-content-between col-md-12 pl-0 pr-0">
    <div class="d-flex flex-column col-md-4 border pl-0 pr-0">
      <div class="">
        <p class="md-3 mt-3 align-middle pl-3"><strong>{{followers.length}} </strong> 位粉絲</p>
      </div>
      <ul class="nav nav-list">
        <li class="divider"></li>
      </ul>
      <div class="pl-3 mb-3">
        {{#each followers}}
        <img style=" width: 100px" src="{{this.image}}" alt="Follower">
        {{/each}}
      </div>
    </div>
    <div class="d-flex flex-column col-md-7 border">
      <div class="">
        <p class="md-3 mt-3 align-middle"><strong>{{restaurants.length}} </strong> 已評論餐廳</p>
      </div>
      <ul class="nav nav-list">
        <li class="divider"></li>
      </ul>
      <div>
        {{#each restaurants}}
        <a href="/restaurants/{{this.id}}"><img style=" width: 100px" src="{{this.image}}" alt="Restaurant"></a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="d-inline-flex justify-content-between col-md-12 pl-0 pr-0">
    <div class="d-flex flex-column col-md-4 border pl-0 pr-0">
      <div class="">
        <p class="md-3 mt-3 align-middle pl-3"><strong>{{followings.length}} </strong>位用戶我正在關注他</p>
      </div>
      <ul class="nav nav-list">
        <li class="divider"></li>
      </ul>
      <div class="pl-3 mb-3">
        {{#each followings}}
        <img style=" width: 100px" src="{{this.image}}" alt="Following">
        {{/each}}
      </div>
    </div>

    <div class="d-flex flex-column col-md-7 border">
      <div class="">
        <p class="md-3 mt-3 align-middle"><strong>{{favoritedRestaurants.length}} </strong> 間收藏的餐廳</p>
      </div>
      <ul class="nav nav-list">
        <li class="divider"></li>
      </ul>
      <div>
        {{#each favoritedRestaurants}}
        <a href="/restaurants/{{this.id}}"><img style=" width: 100px" src="{{this.image}}" alt="Restaurant"></a>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{/if}}